@tailwind base;
@tailwind components;
@tailwind utilities;

.embla_viewport {
    overflow: hidden;
}
.embla_viewport_unscroll {
    overflow: hidden;
    pointer-events: none;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}